#btn-rem{
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
}




body {
    margin-top: 35px;
    margin-left: 530px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

input[type="checkbox"] {
    transform: scale(3);
}

.input-info{
    width: 256px;
    font-size: 20px;
    height: 35px;
    border-radius: 10px;
}
#add-btn{

    height: 35px;
    font-size: 20px;
    border-radius: 10px;
}

table{
    border-style: groove;
    border: 1px, solid, black;
    width: 200px;
    margin-top: 50px;
}

td{
    border-style: groove;
    border: 1px, solid, black;
    text-align: center;
}